In [2]:
#conda activate pyvizenv

In [3]:
#pip install yfinance

In [2]:
# Import Libraries
import os
import requests
import pandas as pd
from dotenv import load_dotenv
import json
import panel as pn
import hvplot.pandas
import matplotlib.pyplot as plt
import numpy as np
from pathlib import Path
pn.extension('plotly')
import plotly.express as px
import seaborn as sns

%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

WARNING:param.panel_extension: A HoloViz extension was loaded previously. This means the extension is already initialized and the following Panel extensions could not be properly loaded: ['plotly']. If you are loading custom extensions with pn.extension(...) ensure that this is called before any other HoloViz extension such as hvPlot or HoloViews.

In [3]:
# Laod .env environment
load_dotenv()

True

In [4]:
# Pull in API Key
api_key = os.getenv("glassnode_api")
type(api_key)

str

In [5]:
# Define crypto currencies to pull
crypto_list = ["BTC"]

In [6]:
# Define Price URLs
price_url = 'https://api.glassnode.com/v1/metrics/market/price_usd'

## BTC API Data Pull

In [7]:
# Price API Request
btc_price_res = requests.get(price_url,
                      params={'a': 'BTC',
                              'i': '24h',
                              'api_key': api_key})


# Convert price to Pandas Dataframe, set index to time and clean up file
btc_price_df = pd.read_json(btc_price_res.text, convert_dates=['t'])
btc_price_df.columns = ['Date', 'BTC Price']
btc_price_df.set_index('Date', inplace=True)

## BTC Data Table Debugging Cells

In [8]:
btc_price_df

               BTC Price
Date
2010-07-17      0.049510
2010-07-18      0.085840
2010-07-19      0.080800
2010-07-20      0.074733
2010-07-21      0.079210
2010-07-22      0.055945
2010-07-23      0.062283
2010-07-24      0.054540
2010-07-25      0.050500
2010-07-26      0.056000
2010-07-27      0.059844
2010-07-28      0.058900
2010-07-29      0.069200
2010-07-30      0.064283
2010-07-31      0.067850
2010-08-01      0.061100
2010-08-02      0.060000
2010-08-03      0.060000
2010-08-04      0.057950
2010-08-05      0.061000
2010-08-06      0.062100
2010-08-07      0.059000
2010-08-08      0.060900
2010-08-09      0.071000
2010-08-10      0.070000
2010-08-11      0.067000
2010-08-12      0.070000
2010-08-13      0.064500
2010-08-14      0.067000
2010-08-15      0.065290
...                  ...
2021-04-02  59392.149481
2021-04-03  57642.970958
2021-04-04  58752.806594
2021-04-05  58898.765898
2021-04-06  58243.453940
2021-04-07  56219.396299
2021-04-08  58321.107135
2021-04-09  58245.003001
2021-04-10  59793.235410
2021-04-11  60226.423610
2021-04-12  59915.464465
2021-04-13  63603.708172
2021-04-14  62922.213180
2021-04-15  63285.567271
2021-04-16  61611.996806
2021-04-17  60803.846532
2021-04-18  56163.105403
2021-04-19  55657.839232
2021-04-20  56379.212477
2021-04-21  53861.436959
2021-04-22  51826.893544
2021-04-23  51027.733328
2021-04-24  50020.153421
2021-04-25  49039.862341
2021-04-26  54006.252013
2021-04-27  54981.479995
2021-04-28  54793.394530
2021-04-29  53558.662069
2021-04-30  57775.278152
2021-05-01  57289.872176

[3942 rows x 1 columns]

## BTC Daily Changes

In [13]:
# Daily change in price column
btc_daily_price_pct_change = btc_price_df.pct_change(1)
btc_daily_price_pct_change.columns = ['BTC Daily Price Change']
btc_daily_price_pct_change = btc_daily_price_pct_change.dropna()
# btc_daily_price_pct_change
btc_daily_price_pct_change.tail()

            BTC Daily Price Change
Date
2021-04-27                0.018058
2021-04-28               -0.003421
2021-04-29               -0.022534
2021-04-30                0.078729
2021-05-01               -0.008402

## BTC Data Aggregating & Cleaning

In [14]:
# Define all the different data frames into a list
btc_frames = [btc_price_df, btc_daily_price_pct_change]

# Concatenate all the dataframes into one
btc_data = pd.concat(btc_frames, axis=1, join="outer", ignore_index=False)
btc_data.tail()

               BTC Price  BTC Daily Price Change
Date
2021-04-27  54981.479995                0.018058
2021-04-28  54793.394530               -0.003421
2021-04-29  53558.662069               -0.022534
2021-04-30  57775.278152                0.078729
2021-05-01  57289.872176               -0.008402